@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
body{
    font-family: poppins;
    height: 2801px;
    background: linear-gradient(180deg, rgba(21, 44, 65, 0.00) 0%, #246BAD 0.01%, rgba(16, 44, 76, 0.93) 100%);
}

.container-fluid{
    height: 80px;
    background-color: #315F89;
    margin-top: 0;
    color: aliceblue;
}
.navbar{
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}
.btn-outline-success{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 0;

}
.form-control{
    background-color: #464646;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.d-flex{
    margin-left: 50px;
    width: 650px;

}
.me-2{
    margin-left: 0;
    
}
.navbar-expand-lg{
    background-color: #315F89;
}

.dropdown-toggle{
    font-size: 20px;
}

.dropdown{
    margin-left: 100px;

}
.dropdown-toggle{
    color: white;

}

.vertical {
    border-left: 1px solid #B6B6B6;
    height: 100px;
    left: 50%;
  }
.current-town{
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 30px;
    padding-top: 20px;
}  
.city{
    display: flex;
    gap: 20px;
}
.add-btn {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 22px;
    cursor:pointer;
    margin-top: 10px;
    overflow: hidden;        
}
.main-container-L1{
    display: flex;
    gap: 250px;
    align-items: center;

}
.report{
    background-color: #153361;
    border-radius: 5px;
    height: 38px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px;

}
.CW-L1{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 10px;

}
.CW-L2, .CW-L3{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}
.w-detail{
    color: #FFF;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.weather-icons{
    display: flex;
    gap: 60px;
    align-items: center;
}
.main-container-L2{
    display: flex;
    gap: 70px;
    align-items: center;

}
.WD-1{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.WD-2{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.w-explain{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-container-L4{
    display: flex;
    gap: 70px;
    align-items: center;
}
.detl{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.Number{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-container{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    width: 800px;
    flex-direction: column;
    gap: 20px;
    border-width: thin;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
}
.map{
    width: 520px;
    border-radius: 10px;
}
.line1{
    display: flex;
    gap: 30px;
}



.future-forecast{
 color: white;
 margin-top: 30px;
 margin-bottom: 30px;
}


.future-forecast .today .day{
    padding: 5px 5px;
    background: #009064;
    border-radius: 50px;

    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
    margin-left: 30px;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C;
    border-radius: 50px;
    text-align: center;
    font-size: 14px;

}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 200;
    font-size: 15px;
}

.hourly-forecast{
    margin-top: 50px;
    margin-left: 30px;
    color: #FFF;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hourly-table{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    border-radius: 10px;
}
.mr2{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sr1{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sr2{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sr3{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.srt1{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 60px;
}
.rise-set{
    display: flex;
    gap: 50px;


}
.weather-insights1{
    padding: 20px;
    border-radius: 10px;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px;
}
.sunrise{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sunset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thermostat{
    height: 250px;
    width: 85px;
}
.texthl{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;

}
.temperature{
    display: flex;
    gap: 10px;
    padding: 20px;
    padding-top: 40px;
    border-radius: 10px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px;
}
.today-high-low{
    display: flex;
    flex-direction: column;
    gap: 95px;
    margin-top: 17px;
}
.avg-high-low{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 47px;
}
.infomations{
    width: 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
}
.text-heading{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.text-details{
    display: flex;
    margin-top: 70px;

}
.today-vs-yesterday{

    padding: 20px;
    border-radius: 10px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px;
}
.line4{
    display: flex;    
}
.Summery{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.info-data{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.summery-detail{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.daily-summery{
    padding: 20px;
    border-radius: 10px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px;
}
.the-icon{
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.umbrella1{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.umbrella-data{
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.umbrella{
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px;
    width: 210px;
    border-radius: 10px;
}
.first-two-suggetions{
    display: flex;
}
.second-two-suggetions{
    display: flex;
}
.four-suggetions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.suggetions{
    padding: 20px;
    border-radius: 10px;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px;
}
.line5{
    display: flex;
    margin-top: 30px;
}
.aqi-name{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.aqi-number{
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 80px;
}
.line6-firstrow{
    padding: 20px;
    border-radius: 10px;
    width: 230px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px;
}
.line6-first{
    display: flex;
    gap: 300px;
}
.aqi-parameters{
    margin-left: 25px;
    margin-top: 20px;
}
.line6{
    padding: 20px;
    border-radius: 10px;
    width: 1030px;
    background-color: rgba(255, 255, 255, 0.12);
    margin-left: 20px;
    margin-right: 20px; 
}

.my-5 .container{
    background-color:#315F89;
    width: 100%;
}

.footer-container{
    width: 100%;
}

.container{
    background-color: #FFF;
    max-width: 100%;
}
.my-5{
    background-color:#315F89;
  }
.space{
    height: 230px;
    background-color: #213c5b;
}

