@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
body{
    font-family: poppins;
    height: 2801px;
    background: linear-gradient(180deg, rgba(21, 44, 65, 0.00) 0%, #246BAD 0.01%, rgba(16, 44, 76, 0.93) 100%);
}
.container-fluid{
    height: 80px;
    background-color: #315F89;
    margin-top: 0;
    color: aliceblue;
}
.navbar{
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}
.btn-outline-success{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 0;

}
.form-control{
    background-color: #464646;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.d-flex{
    margin-left: 50px;
    width: 650px;

}
.me-2{
    margin-left: 0;
    
}
.navbar-expand-lg{
    background-color: #315F89;
}
.home-icon{
    margin-top: 20px;
}
.navbar-nav{
    margin-left: 100px;

}
.dropdown-toggle{
    font-size: 24px;
}
.user{
    margin-left: 80px;
    color: white;
    font-family: Inter;
    font-weight: 400;
}
.dropdown{
    margin-left: 100px;

}
.dropdown-toggle{
    color: white;

}
.town{
    margin-left: 10px;
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;


}
.vertical {
    border-left: 1px solid #B6B6B6;
    height: 100px;
    left: 50%;
  }
.current-town{
    color: #FFF;
    font-family: Inter;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 50px;
    padding-top: 20px;
}  
.city{
    display: flex;
    gap: 20px;
}
.add-btn {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 52px;
    cursor:pointer;
    margin-top: 10px;
    overflow: hidden;        
}
.main-container-L1{
    display: flex;
    gap: 350px;
    align-items: center;

}
.report{
    background-color: #153361;
    border-radius: 5px;
    height: 60px;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px;

}
.CW-L1{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 10px;

}
.CW-L2, .CW-L3{
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}
.w-detail{
    color: #FFF;
    font-family: Inter;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.weather-icons{
    display: flex;
    gap: 60px;
    align-items: center;
}
.main-container-L2{
    display: flex;
    gap: 180px;
    align-items: center;

}
.WD-1{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.WD-2{
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.w-explain{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-container-L4{
    display: flex;
    gap: 100px;
    align-items: center;
}
.detl{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.Number{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-container{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    width: 1200px;
    flex-direction: column;
    gap: 20px;
    border-width: thin;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 5px;
}